@charset "UTF-8";
@import url("https://v1.fontapi.ir/css/Estedad");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@100..900&display=swap");
@import url("https://v1.fontapi.ir/css/Sahel");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Sahel, sans-serif;
}

.text-color {
  color: rgb(91, 84, 84);
}

.lash {
  max-width: 81%;
  height: auto;
  vertical-align: middle;
}

.last-lash {
  max-width: 78%;
  height: auto;
  vertical-align: middle;
}

.star-up {
  margin-top: 0px;
  padding: 15px;
  font-weight: bold;
}
/* اسمش رو 2 گزاشتم چون توی فایل استایل اصلی ناوبار خالی بود */
.navbar-img-2 {
  display: flex;
  height: 110px;
}

@media only screen and (max-width: 900px) {
  .lash {
    max-width: 101%;
  }
  .img-page-2 {
    height: 24vh;
  }
  .navbar-img-2 {
    height: 7vh;
  }
}
